{% extends "base.html" %}
{% comment %} {%load static %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge"> {% endcomment %}
        {% block title %}
        <title>UNIQ FASION</title>
        {% endblock title %}
        
      {% block content %}
        <div class="slider-area">
            <div class="slider-active owl-carousel">
                {% for c_images in c_images %}
                <div class="single-slider-4 slider-height-6 bg-img" style="background-image: url({{c_images.image.url }})">
                    <div class="container">
                        <div class="row">
                            <div class="ms-auto col-lg-6">
                                <div class="furniture-content fadeinup-animated">
                                    <h2 class="animated text-dark" > <br>Collection.</h2>
                                    <p class="animated text-dark">{{c_images.banner_text}}</p>
                                    <a class="furniture-slider-btn btn-hover animated" href="{% url 'grid-view' c_images.id %}">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                {% endfor %}
                
            </div>
        </div>
        
        <!-- product area start -->
        <div class="popular-product-area wrapper-padding-3 pt-115 pb-115">
            <div class="container-fluid">
                <div class="section-title-6 text-center mb-50">
                    <h2>New Shots</h2>
                    <p>Make a Deals With new Arrivals to beCame UNIQUE and Feel the versality in fasion</p>
                </div>
                <div class="product-style">
                    
                    <div class="popular-product-active owl-carousel">
                        {% for new_products in ziped_data  %}
                        <div class="product-wrapper">
                            
                            <div class="product-img"> 
                                <a href="{% url 'detail-view-product' new_products.id %}">
                                    
                                    <img src="{{new_products.cover_image.url}}" alt="">
                                </a>
                                <span>new</span>
                                <div class="product-action">
                                    <a class="animate-left" title="Wishlist" href="{% url 'wishlist-add' new_products.id %}">
                                        <i class="pe-7s-like"></i>
                                    </a>
                                    <a class="animate-top" title="Add To Cart" href="{% url 'add-cart' new_products.id %}">
                                        <i class="pe-7s-cart"></i>
                                    </a>
                                    <a class="animate-right" title="Quick View" data-bs-toggle="modal"  href="{% url 'detail-view-product' new_products.id %}">
                                        <i class="pe-7s-look"></i>
                                    </a>
                                </div>
                                
                            </div>
                           
                            <div class="funiture-product-content text-center">
                                <h4 style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; /* number of lines to show */line-clamp: 2;-webkit-box-orient: vertical;"><a href="product-details.html"><b>{{new_products.product_title}}</b></a></h4>
                          
                                <span><del>Rs:{{new_products.actual_price}}</del></span>
                                <span><b>Rs:{{new_products.discount_price}}</b></span>
                                <span><h5 class="text-danger">{{new_products.discount_rate}}%off</h5></span>
                                <a href="{% url 'buy-now' new_products.id %}"><input type="button" value="buy now" /></a>
                            </div>
                        </div>
                     
                       
                        {% endfor %}  
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- product area end -->
        <!-- discount area start -->
        <div class="discount-area pt-70 pb-120">
            <div class="container">
                <div class="row">
                    <div class="ms-auto col-lg-7">
                        <div class="discount-img pl-70">
                            <img src=" {{square_banner.image.url}}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="discount-details-wrapper">
                            <h5>Verified quality</h5>
                            <p>Someone interested  being UNIQUE in SUMMER make a click </p>
                            <h2>Summer Discount <br>Up to 30%</h2>
                            <p class="discount-peragraph">Find wide variety of summer cools why dont you confused check it</p>
                            <a class="discount-btn btn-hover" href="{% url 'grid-view' square_banner.id %}">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- discount area end -->
        <!-- premium area start -->
        <div class="premium-banner-area">
            <div class="container">
                <div class="discount-wrapper">
                    <img src="{{last_image.image.url}}" alt="">
                    <div class="discount-content">
                        <h2 >Premium FASION<br>Decorator</h2>
                        <a class="discount-btn btn-hover" href="{% url 'grid-view' last_image.id %}">explore</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- premium area end -->
        <!-- product area start -->
        <div class="product-style-area pt-120">
            <div class="coustom-container-fluid">
                <div class="section-title-7 text-center">
                    <h2>All Products</h2>
                    <p>Check it large collections and find Uniqueness in every nook and corner</p>
                </div>
                
                <div class="product-tab-list text-center mb-65 nav" role="tablist">
                    <a class="active" data-bs-toggle="tab" role="tab" hx-get="{% url 'displaymen' 1 %}" hx-target="#furniture1" hx-swap="outerHTML" >
                        <h4>MEN</h4>
                    </a>
                    <a  data-bs-toggle="tab" role="tab" hx-get="{% url 'displaymen' 2 %}" hx-target="#furniture1" hx-swap="outerHTML" >
                        <h4>WOMEN </h4>
                    </a>
                    <a  data-bs-toggle="tab" role="tab" hx-get="{% url 'displaymen' 3 %}" hx-target="#furniture1" hx-swap="outerHTML">
                        <h4>KIDS </h4>
                    </a>
                    <a  data-bs-toggle="tab" role="tab" hx-get="{% url 'displaymen' 4 %}" hx-target="#furniture1" hx-swap="outerHTML">
                        <h4>DELVE INTO BRANDS</h4>
                    </a>
                    
                </div>
                <div class="tab-content ">
                    <div class="tab-pane active show fade " id="furniture1" role="tabpanel" >
                        <div class="coustom-row-5  ">
                            {% include 'htmx/nave.html' %} 
                            {% include 'htmx/brand.html' %}       

                    </div> 
                <div class="view-all-product text-center">
                    <a href="{% url 'grid-view' 0 %}">View All Product</a>
                </div> 
            </div>
        </div>
        <!-- product area end -->
        <!-- testimonials area start -->
        <div class="testimonials-area pt-120 pb-115">
            <div class="container">
                <div class="testimonials-active owl-carousel">
                    <div class="single-testimonial-2 text-center">
                        <img src="assets/img/team/1.png" alt="">
                        <p>where ever You Go for finding UNIQUENESS We are there</p>
                        <img src="assets/img/team/2.png" alt="">
                        <h4>tayeb rayed</h4>
                        <span>uiux Designer</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- testimonials area end -->
        <!-- services area start -->
        <div class="services-area wrapper-padding-4 gray-bg pt-120 pb-80">
            <div class="container-fluid">
                <div class="services-wrapper">
                    <div class="single-services mb-40">
                        <div class="services-img">
                            <img src="assets/img/icon-img/26.png" alt="">
                        </div>
                        <div class="services-content">
                            <h4>Free Shippig</h4>
                            <p>we provide free shipping for all products </p>
                        </div>
                    </div>
                    <div class="single-services mb-40">
                        <div class="services-img">
                            <img src="assets/img/icon-img/27.png" alt="">
                        </div>
                        <div class="services-content">
                            <h4>24/7 Support</h4>
                            <p>provide 34 hr customer service support </p>
                        </div>
                    </div>
                    <div class="single-services mb-40">
                        <div class="services-img">
                            <img src="assets/img/icon-img/28.png" alt="">
                        </div>
                        <div class="services-content">
                            <h4>Secure Payments</h4>
                            <p>immediately return payments due to the gateway issues</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- services area end -->
        {% endblock  %}

        {% block footer %}
        
        <footer class="footer-area">
            <div class="footer-top-area pt-70 pb-35 wrapper-padding-5">
                <div class="container-fluid">
                    <div class="widget-wrapper">
                        <div class="footer-widget mb-30">
                            <a href="#"><img src="assets/img/logo/2.png" alt=""></a>
                            <div class="footer-about-2">
                                <p>There are many variations of passages of Lorem Ipsum <br>the majority have suffered alteration in some form, by <br> injected humour</p>
                            </div>
                        </div>
                        <div class="footer-widget mb-30">
                            <h3 class="footer-widget-title-5">Contact Info</h3>
                            <div class="footer-info-wrapper-3">
                                <div class="footer-address-furniture">
                                    <div class="footer-info-icon3">
                                        <span>Address: </span>
                                    </div>
                                    <div class="footer-info-content3">
                                        <p>66 Sipu road Rampura Banasree <br>USA- 10800</p>
                                    </div>
                                </div>
                                <div class="footer-address-furniture">
                                    <div class="footer-info-icon3">
                                        <span>Phone: </span>
                                    </div>
                                    <div class="footer-info-content3">
                                        <p>+8801 (33) 123456789 <br>+8801 (66) 123456789</p>
                                    </div>
                                </div>
                                <div class="footer-address-furniture">
                                    <div class="footer-info-icon3">
                                        <span>E-mail: </span>
                                    </div>
                                    <div class="footer-info-content3">
                                        <p><a href="#"> email@domain.com</a> <br><a href="#"> domain@mail.info</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-widget mb-30">
                            <h3 class="footer-widget-title-5">Newsletter</h3>
                            <div class="footer-newsletter-2">
                                <p>Send us your mail or next updates</p>
                                <div id="mc_embed_signup" class="subscribe-form-5">
                                    <form action="https://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                        <div id="mc_embed_signup_scroll" class="mc-form">
                                            <input type="email" value="" name="EMAIL" class="email" placeholder="Enter mail address" required>
                                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div class="mc-news" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom ptb-20 gray-bg-8">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="copyright-furniture">
                                <p>Copyright © <a href="hastech.company/">HasTech</a> 2021 . All Right Reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        {% endblock  %}

