{% extends "base.html" %}
 {% load static %} 

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge"> 
        {% block title %}
        <title> user login</title>
        {% endblock  %}
      
        
		{% block static-css %}
		<!-- all css here -->
        <link rel="stylesheet" href="{% static '/css/htmxstyle.css' %}">
        
        {% endblock  %}
    
    {% block content %}
		{% comment %} <div class="breadcrumb-area pt-205 pb-210" style="background-image: url({% static '/img/cover.jpeg'%})">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2>login</h2>
                    <ul>
                        <li><a href="#">home</a></li>
                        <li> login </li>
                    </ul>
                </div>
            </div>
        </div> {% endcomment %}
        <!-- login-area start -->
        <div class="register-area ptb-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-12 col-lg-6 col-xl-6 ms-auto me-auto">
                        <div class="login">
                            <div class="login-form-container" id="login_varify">
                                <div class="login-form" id="login-varify">
                                    <form href="" method="post" onclick="return formvalidation()">
                                        {% csrf_token %}
                                        <input type="tel" id="phone-number" name="phone" placeholder="login with phone number" onkeyup="numbervalidation()">
                                        <p class=" text-danger" id="username-error"></p>
                                        <input id="pass-word" type="Password" name="password" placeholder="Password" onkeyup="passwordvalidation()" > 
                                        <p class=" text-danger" id="password-error"></p>
                                       <div class="button-box">  
                                          
                                       
                                           <div class="login-toggle-btn">
                                               <input type="checkbox">
                                               <label>Remember me</label>
                                               <a href="#">Forgot Password?</a>
                                           </div>
                                           <p id="form-error"></p>
                                           <button type="submit" class="default-btn floatright">Login</button>
                                           <p class=" text-danger" id="login_submit_error"></p>
                                         
                                       </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        


        {% endblock  %}
        
{% block static-js %}
<script>

    var nameError = document.getElementById('username-error')
    var passwordError = document.getElementById('password-error')
    var phoneError = document.getElementById('username-error')
    var pinError = document.getElementById('pin-error')
    var cityError = document.getElementById('city-error')
    var codeError = document.getElementById('code-error')
    var stateError = document.getElementById('state-error')
    var countryError = document.getElementById('country-error')
    var formError = document.getElementById('login_submit_error')
    var codeformError=document.getElementById('login_code_error')

    {% comment %} function namevalidation(){

        var name = document.getElementById('pho').value
        if(!name.match(/^[A-Za-z\s]{3,}$/)){
        nameError.innerHTML = 'Username must be characters only'
        return false;
  
        }
        nameError.innerHTML = ''
        return true;
    } {% endcomment %}

    {% comment %} function emailvalidation(){

        var email = document.getElementById('email').value
        if(!email.match(/^[a-zA-Z0-9-_]+@[a-zA-Z0-9]+\.[a-z]{2,3}$/)){
            emailError.innerHTML = 'Invalid Email';
            return false;
        }
        emailError.innerHTML = ''
        return true;

    } {% endcomment %}

    function numbervalidation(){
        
        var phone = document.getElementById('phone-number').value
        if(!phone.match(/^\d{10}$/)){
            phoneError.innerHTML = 'Invalid Number';
            return false;
        }
        phoneError.innerHTML = ''
        return true;

    }
{% comment %} 
    function pinvalidation(){

        var pin = document.getElementById('pincode').value
        if(!pin.match(/^\d{6}$/)){
            pinError.innerHTML = 'Enter six number pincode';
            return false;
        }
        pinError.innerHTML = ''
        return true;
    } {% endcomment %}

    function passwordvalidation(){

        var password = document.getElementById('pass-word').value
        if(password==''){
            passwordError.innerHTML = 'Field should not be empty';
            return false;
        }
        passwordError.innerHTML = ''
        return true;
    }

     function codevalidation(){

        var otp = document.getElementById('otpcode').value
        if(otp==''){
            codeError.innerHTML = 'Field should not be empty';
            return false;
        }
        codeError.innerHTML = ''
        return true;
    }
{% comment %}
    function addressvalidation(){

        var address = document.getElementById('address').value
        if(address==''){
            addressError.innerHTML = 'Field should not be empty';
            return false;
        }
        addressError.innerHTML = ''
        return true;
    }

    function countryvalidation(){

        var country = document.getElementById('country').value
        if(country==''){
            countryError.innerHTML = 'Field should not be empty';
            return false;
        }
        countryError.innerHTML = ''
        return true;
    } {% endcomment %}

    function formvalidation(){
        if(!numbervalidation() ||!passwordvalidation()  ){
            formError.innerHTML = 'Fill all the fields';
            return false;
        }
        formError.innerHTML = ''
        return true;

    }
    
    function codeformvalidation(){
        if(! codevalidation() ){
            codeformError.innerHTML = 'code field is empty';
            return false;
        }
        codeformError.innerHTML = ''
        return true;

    }
</script>
{% endblock static-js %}