{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    Uniq-fassion-verify
    {% endblock  %}
     <link rel="stylesheet" href="{% static 'css/varificationpage.css'%}">
     <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico"/>
     <!-- BEGIN GLOBAL MANDATORY STYLES -->
     <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
     <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
     <link href="{% static 'assets/css/plugins.css'%}" rel="stylesheet" type="text/css" />
     <link href="{% static 'assets/css/users/login-3.css'%}" rel="stylesheet" type="text/css" />
  
</head>
<body>
    <form action=" " method="POST">
        {% comment %} {% csrf_token %}
        {% comment %} {{form}} 
        <label for="varificationcode">Enter 5 digit varification code has send to the{{phone}} </label>
        <input type="text" name="varificationcode">
        <input type="submit">
        {% for message in messages %}
        <h4 class="colors" style="color: red;">{{message}}</h4>
        {% endfor %}
        <a href=""><h4>did'nt get a varification code</h4></a> {% endcomment %}
        
        <div class="d-flex justify-content-center align-items-center container">
            <div class="card py-5 px-3">
                <h5 class="m-0">Mobile phone verification</h5><span class="mobile-text">Enter the code we just send on your mobile phone</span>
                {% csrf_token %}
                <div class="d-flex flex-row mt-5"><input type="text" name='varificationcode' autofocus=""></div>
                <div class="text-center mt-5"><span class="d-block mobile-text">Don't receive the code?</span><a href="{% url 'newuservarify' %}"><span class="font-weight-bold text-danger cursor">Resend</span></a></div>
                <input type="submit">
                {% for message in messages %}
                <h4 class="colors" style="color: red;">{{message}}</h4>
                {% endfor %}
               
            </div>
           
        </div>
    </form>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'assets/js/libs/jquery-3.1.1.min.js'%}"></script>
  <script src="{% static 'assets/js/loader.js'%}"></script>
  <script src="{% static 'bootstrap/js/popper.min.js'%}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
</body>
</html>