{% extends 'base.html' %}
{%load static %}
{% block title %}
user-profile
{% endblock  %}
{% block content %}
<div class="breadcrumb-area pt-205 pb-210" style="background-image: url({% static 'img/detail-view.jpg' %})">
    <div class="container">
        
    </div>
</div>
<section style="background-color: #eee;">
    <div class="container py-5" id="user-profile">
        <div class="row">
            <div class="col">
              <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item"><a href="#">User</a></li>
                  <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                </ol>
              </nav>
            </div>
        </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3">{{username.first_name}} {{username.last_name}}</h5>
                  <p class="text-muted mb-1">{{username.phone}}</p>
                  <p class="text-muted mb-4">{{username.email}}</p>
                  
                </div>
              </div>
              
            </div>
            {% include 'htmx/change_address.html' %}
            {% comment %} <div class="row"> {% endcomment %}
                <div class="col-md-4">
                    
                <div class="card mb-4 mb-md-0">

                    {% comment %} <canvas id="myChart" width="400" height="200" align="center"></canvas>   {% endcomment %}

                  <div class="card-body">
                      <p class="mb-4"><span class="text-primary font-italic me-1">user log</span> of {{primary_address.fist_name}}</p>
                      <p class="mb-1" style="font-size: .77rem;">total orders: <b>{{ordercount}}</b></p>
                     
                        
                     
                      <p class="mt-2 mb-1" style="font-size: .77rem;">Canceled orders: <b>{{canceled_order}}</b></p>
                      
                      <p class="mt-2 mb-1" style="font-size: .77rem;">total Purchased amount: <b>{{total_sum}}</b></p>
                      
                      <p class="mt-2 mb-1" style="font-size: .77rem;">returned items: <b>{{returned_count}}</b></p>
                      <p class="mt-2 mb-1" style="font-size: .77rem;"></p>
                      
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-8 m-0">
                    
                  <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                      <p class=""><span class="text-primary font-italic me-1">latest order</span>
                      </p>
                      
                      <p class="mb-1" style="font-size: .77rem;">product name: <b>{{item.product.product_name}}</b></p>
                     
                      <p class="mt-2 mb-1" style="font-size: .77rem;">quantity: <b>{{item.quantity}}</b></p>
                    
                      <p class="mt-2 mb-1" style="font-size: .77rem;">Unit price: <b>{{item.product.discount_price}}</b></p>
                     
                  
                      <p class="mt-2 mb-1" style="font-size: .77rem;">total Price: <b>{{latest_order.total_price}}</b></p>
                    
                      <p class="mt-2 mb-1" style="font-size: .77rem;">Tracking number: <b>{{latest_order.tracking_number}}</b></p>
                    
                    </div>
                  </div>
                </div>
              </div>
          
            
                
                <div class="different-address" id="add-address">
                   
                    {% include 'htmx/add_addrss_button.html' %}
                     {% comment %}  {% endcomment %}
                   
                    
              
                </div>
              
          
    {% comment %} </div> {% endcomment %}
</div> 
  </section>
       
        {% endblock  %}
        <!-- product area end -->
        {% block footer %}
		<footer class="footer-area">
            <div class="footer-top-area bg-img pt-105 pb-65" style="background-image: url(assets/img/bg/1.jpg)" data-overlay="9">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-md-3">
                            <div class="footer-widget mb-40">
                                <h3 class="footer-widget-title">Custom Service</h3>
                                <div class="footer-widget-content">
                                    <ul>
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="register.html">My Account</a></li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="register.html">Register</a></li>
                                        <li><a href="#">Support</a></li>
                                        <li><a href="#">Track</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-3">
                            <div class="footer-widget mb-40">
                                <h3 class="footer-widget-title">Categories</h3>
                                <div class="footer-widget-content">
                                    <ul>
                                        <li><a href="shop.html">Dress</a></li>
                                        <li><a href="shop.html">Shoes</a></li>
                                        <li><a href="shop.html">Shirt</a></li>
                                        <li><a href="shop.html">Baby Product</a></li>
                                        <li><a href="shop.html">Mans Product</a></li>
                                        <li><a href="shop.html">Leather</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="footer-widget mb-40">
                                <h3 class="footer-widget-title">Contact</h3>
                                <div class="footer-newsletter">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is dummy.</p>
                                    <div id="mc_embed_signup" class="subscribe-form pr-40">
                                        <form action="https://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                            <div id="mc_embed_signup_scroll" class="mc-form">
                                                <input type="email" value="" name="EMAIL" class="email" placeholder="Enter Your E-mail" required>
                                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                                <div class="mc-news" aria-hidden="true">
                                                    <input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value="">
                                                </div>
                                                <div class="clear">
                                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="footer-contact">
                                        <p><span><i class="ti-location-pin"></i></span> 77 Seventh avenue USA 12555. </p>
                                        <p><span><i class=" ti-headphone-alt "></i></span> +88 (015) 609735 or +88 (012) 112266</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom black-bg ptb-20">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="copyright">
                                <p>
                                    Copyright ©
                                    <a href="hastech.company/">HasTech</a> 2021 . All Right Reserved.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock  %}
		<!-- modal -->
        
		
		
		
		
{% block static-js %}

<script>
    {% comment %} var countryError = document.getElementById('country-error') {% endcomment %}
    var firstnameError = document.getElementById("firstname-error")
    {% comment %} var lastnameError = document.getElementById('lastname-error')
    var emailError = document.getElementById('email-error')
    var phoneError = document.getElementById('phone-error')
    var addressline1Error = document.getElementById('addressline1-error')
    var addressline2Error = document.getElementById('addressline2-error')
    var cityError = document.getElementById('city-error')
    var stateError = document.getElementById('state-error')
    var zipError = document.getElementById('zip-error')
    var formError = document.getElementById('form-error')
    var codeformError=document.getElementById('login_code_error') {% endcomment %}

    function firstnamevalidation(){
    
        var name = document.getElementById("firstname").value
        if(!name.match(/^[A-Za-z\s]{3,}$/)){
            firstnameError.innerHTML='<p class="text-danger">first name must be characters only</p>'
            return false;
    
        }
        firstnameError.innerHTML="<p class="text-success">valid</p>"
        return true;
    }
  
    {% comment %} function lastnamevalidation(){
    
        var name = document.getElementById('lastname').value
        if(!name.match(/^[A-Za-z\s]{3,}$/)){
            lastnameError.innerHTML = '<p class="text-danger">last name must be characters only</p>'
        return false;
    
        }
        lastnameError.innerHTML = '<p class="text-success">valid</p>'
        return true;
    }
    function emailvalidation(){
            
        var email = document.getElementById('email').value
        if(!email.match(/^[a-zA-Z0-9-_]+@[a-zA-Z0-9]+\.[a-z]{2,3}$/)){
            emailError.innerHTML = '<p class="text-danger">Invalid Email</p>';
            return false;
        }
        emailError.innerHTML ='<p class="text-success">valid</p>'
        return true;
    
    }
    function numbervalidation(){
                    
        var phone = document.getElementById('phone').value
        if(!phone.match(/^\d{10}$/)){
            phoneError.innerHTML = '<p class="text-danger">Phone number must be 10 digits only</p>';
            return false;
        }
        phoneError.innerHTML = '<p class="text-success">valid</p>'
        return true;
    
    }
    function addressvalidation1(){
            
        var address = document.getElementById('address1').value
        if(address==''){
            addressline1Error.innerHTML = '<p class="text-danger">Field should not be empty</p>';
            return false;
        }
        addressline1Error.innerHTML = '<p class="text-success">valid</p>'
        return true;
    }
    function addressvalidation2(){
            
        var address = document.getElementById('address2').value
        if(address==''){
            addressline2Error.innerHTML = '<p class="text-danger">Field should not be empty</p>';
            return false;
        }
        addressline2Error.innerHTML = '<p class="text-success">valid</p>'
        return true;
    }
    function cityvalidation(){
            
        var city = document.getElementById('city').value
        if(city==''){
            cityError.innerHTML = '<p class="text-danger">Field should not be empty</p>';
            return false;
        }
        cityError.innerHTML ='<p class="text-success">valid</p>'
        return true;
    }
    function statevalidation(){
            
        var city = document.getElementById('state').value
        if(city==''){
            cityError.innerHTML = '<p class="text-danger">Field should not be empty</p>';
            return false;
        }
        cityError.innerHTML ='<p class="text-success">valid</p>'
        return true;
    }
    function zipvalidation(){
            
        var zip = document.getElementById('zip').value
        if(!zip.match(/^\d{6}$/)){
            zipError.innerHTML = '<p class="text-danger">Enter six number pincode</p>';
            return false;
        }
        zipError.innerHTML ='<p class="text-success">valid</p>'
        return true;
    }
    function formvalidation(){
        if(document.querySelector('input[name="check"]:checked')){
            if(! firstnamevalidation() || ! lastnamevalidation() || ! emailvalidation() || ! numbervalidation()|| ! addressvalidation1() || !addressvalidation2() || ! cityvalidation() || ! statevalidation() || ! zipvalidation() ){
                formError.innerHTML = '<p class="text-danger">fill all fields</p>';
                return false;
            }
            formError.innerHTML = ''
            return true;  
        }
    } {% endcomment %}
</script>

{% endblock static-js %} 
		
		 <!-- all js here -->
        
            {% comment %} <script>
                function change()
                {
                    var txt=document.getElemetById("cartbutton");
                    if(txt.value==" add to cart") txt.value="go to cart";
                }
            </script>

           
        <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'js/waypoints.min.js' %}"></script>
        <script src="{% static 'js/ajax-mail.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
      {% endcomment %}
    </body>
</html>
