{% extends 'base.html' %}
{% block title %}
order-invoice
{% endblock  %}
{% block content %}
<div class="card">
    <div class="card-body">
      <div class="container mb-5 mt-3">
        <div class="row d-flex align-items-baseline">
          <div class="col-xl-9">
            <p style="color: #7e8d9f;font-size: 20px;">Invoice >> <strong>ID: #123-123</strong></p>
          </div>
          <div class="col-xl-3 float-end">
            {% comment %} {% url 'dounload-pdf' %} {% endcomment %}
          <a href="" onclick="print_current_page()" class="btn btn-light text-capitalize border-0" data -mdb-ripple-color="dark"><i class="fas fa-print text-primary"></i>print</fa-print></a>
            <a class="btn btn-light text-capitalize" data-mdb-ripple-color="dark"><i
                class="far fa-file-pdf text-danger"></i> Export</a>
          </div>
          <hr>
        </div>
        
        <div class="container" id="printPage">
          <div class="col-md-12">
            <div class="text-center">
              <i class="fab fa-mdb fa-4x ms-0" style="color:#5d9fc5 ;"></i>
              <p class="pt-0"><span><b>UNIQ FASSION</b></span></p>
            </div>
  
          </div>
  
  
          <div class="row">
            <div class="col-xl-8">
              <ul class="list-unstyled">
                <li class="text-muted">To: <span style="color:#5d9fc5 ;">{{orders.fist_name}} {{orders.last_name}}</span></li>
                <li class="text-muted">{{orders.email}}</li>
                <li class="text-muted">{{orders.addressline1}}</li>
                <li class="text-muted">{{orders.addressline2}}</li>
                <li class="text-muted">{{orders.zip_code}}</li>
                <li class="text-muted">{{orders.city}}</li>
                <li class="text-muted"><i class="fas fa-phone"></i>+91{{orders.phone}}</li>
              </ul>
            </div>
            <div class="col-xl-4">
              <p class="text-muted">Invoice</p>
              <ul class="list-unstyled">
                <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                    class="fw-bold">ID:</span>#123-456</li>
                <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                    class="fw-bold">Creation Date: </span>{{orders.created_at}}</li>
                    <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                        class="fw-bold">Tracking Number: </span>{{orders.tracking_number}}</li>
                <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                    class="me-1 fw-bold">Status:</span><span class="badge bg-warning text-black fw-bold">
                    {{orders.status}}</span></li>
              </ul>
            </div>
          </div>
  
          <div class="row my-2 mx-1 justify-content-center">
            <table class="table table-striped table-borderless">
              <thead style="background-color:#84B0CA ;" class="text-white">
                <tr>
                  
                  <th scope="col">Description</th>
                  <th scope="col">Qty</th>
                  <th scope="col">Unit Price</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
                {% for ordered_product in ordered_products %}
                <tr>
                 
                  <td>{{ordered_product.product.product_name}}</td>
                  <td>{{ordered_product.quantity}}</td>
                  <td>{{ordered_product.product.discount_price}}</td>
                  <td>{% widthratio ordered_product.product.discount_price 1 ordered_product.quantity%}</td>
                  {% comment %} {% widthratio cart_item.Product.discount_price 1 cart_item.quantity%} {% endcomment %}
                </tr>
                {% endfor %}
                
              </tbody>
  
            </table>
          </div>
          <div class="row">
            <div class="col-xl-8">
              <p class="ms-3">Add additional notes and payment information</p>
  
            </div>
            <div class="col-xl-3">
              <ul class="list-unstyled">
                <li class="text-muted ms-3"><span class="text-black me-4">SubTotal</span>{{total}}</li>
                <li class="text-muted ms-3 mt-2"><span class="text-black me-4">Tax(2%)</span>{{tax}}</li>
                {% if f %}
                <li class="text-muted ms-3 mt-2"><span class="text-success me-4">offer applied</span>{{amount_discounted}}</li>
                {% endif %}
              </ul>
              <p class="text-black float-start"><span class="text-black me-3"> Total Amount</span><span
                  style="font-size: 25px;">{{grand_total}}</span></p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xl-10">
              <p>Thank you for your purchase</p>
            </div>
            <div class="col-xl-2">
              <a href="{% url 'home' %}"><button type="button" class="btn btn-primary text-capitalize"
                style="background-color:#60bdf3 ;">continue shoping</button></a>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  {% endblock  %}


{% comment %} <script>
​function​ ​print_current_page​(​){
  ​      ​var​ ​divContents​​=​​document​.​getElementById​(​"printPage"​)​.​innerHTML​;​ 
  ​      ​var​ ​printWindow​ ​=​ ​window​.​open​(​''​,​ ​''​,​ ​'height=200,width=400'​)​;​
  ​      ​printWindow​.​document​.​write​(​'<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">'​)​; 
  ​      ​printWindow​.​document​.​write​(​'<html><head><title>Invoice</title>'​)​;​
  ​      ​printWindow​.​document​.​write​(​'</head><body>"​)​;​
  ​      ​printWindow​.​document​.​write​(​divContents​)​;​
  ​      ​printWindow​.​document​.​write​(​'</body></html>'​)​;​
  ​      ​printWindow​.​document​.​close​(​)​; 
  ​      ​printWindow​.​print​(​)​;​
  ​} 
  ​</​script​> {% endcomment %}

{% block static-js %}
<script>
function print_current_page(){
   var divContents=document.getElementById("printPage").innerHTML;
   var printWindow=window.open('','','height=200,width=400');
   printWindow.document.write('<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">');
   printWindow.document.write('<html><head><title>INVOICE</title>');
   printWindow.document.write('</head><body>');
  printWindow.document.write(divContents);
    printWindow.document.write("</body></html>");
    printWindow.document.close();
    printWindow.print();
   }
</script>
{% endblock static-js %}