<form action="#" id="cart_q" >
<div class="table-content table-responsive" >
    <table>
        <thead>
            
            <tr>
               
                <th>images</th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>remove</th>
            </tr>
        </thead>
        
 

<tbody >
     
   {% for cart_item in cart_items %}
   <tr>
   
    
       <td class="product-thumbnail">
           {% comment %} <a class="product-list-img" href="javascript: void(0);"><img src="{{cart_item.Product.cover_image.url}}" alt="product"></a></td> {% endcomment %}
            <a href="#"><img src="{{cart_item.Product.cover_image.url}}" alt="" width="50px"></a> 
       </td>
       <td class="product-name"><a href="{% url 'detail-view-product' cart_item.Product.id %}">{{cart_item.Product.product_name}}</a></td>
       
       <td class="product-price-cart"><span class="amount">{{cart_item.Product.discount_price}}</span></td>
     

       <td class="product-quantity">
        
           <a  class="btn btn-light " type="button"
           hx-get="{% url 'remove-cart' cart_item.Product.id %}"
           hx-target="#cart_q"
           hx-trigger="click"
           hx-swap="outerhtml"
            >-</a>
      
            
           
            <input value={{cart_item.quantity}} min="1" readonly="readonly" >
           {% comment %} <input value={{cart_item.quantity}} min="1" readonly="readonly" id="cart_q"> {% endcomment %}
           <a  class="btn btn-light" type="button"
           hx-get="{% url 'add-cart-item' cart_item.Product.id %}"
           hx-target="#cart_q"
           hx-trigger="click"
           hx-swap="outerhtml">+</a>
       </td>
       <td class="product-subtotal">{% widthratio cart_item.Product.discount_price 1 cart_item.quantity%}</td>
       <td class="product-remove"><a 
        hx-delete="{% url 'remove-cart-item' cart_item.Product.id %}"
        hx-target="#cart_q"
        hx-trigger="click"
        hx-swap="outerhtml"
        hx-confirm=" are you sure?"><i class="pe-7s-close"></i></a></td>
   </tr>
   {% endfor %}
   
  
</tbody>
</table>
{% if not cart_items %}
<h5>currently no  cart items please add </h5>

{% endif %}
</div> 
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="coupon-all">
            {% comment %} <div class="coupon">
                <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text">
            <input class="button" name="apply_coupon" value="Apply coupon" type="submit">
            </div> {% endcomment %}
            <div class="coupon2">
              
              <a href="{% url 'home' %}"><input class="button" name="" value="continue shoping" type="button"></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5 ms-auto">
        <div class="cart-page-total">
            <h2>Cart totals</h2>
            <ul>
                <li>Subtotal<span>{{totalprice}}</span></li>
                <li>tax<span>{{tax}}</span></li>
                <li>Grand Total<span>{{grand_total}}</span></li>
            </ul>
            
            <a href="{% url 'check-out' %}"  >Proceed to checkout</a>

        </div>
    </div>
</div>
</form>