<div class="tab-pane active show fade d-flex" id="furniture1" role="tabpanel" >
    <div class="coustom-row-5  "> 
        {% for brand in brands  %}
        <div class="custom-col-two-5 custom-col-style-5 mb-65">
            <div class="product-wrapper">
                <div class="product-img rounded-circle">
                    <a href="{% url 'brandwise' brand.name %}">
                        <img class=" border-radius-2px-solid-black" src="{{brand.image.url}}" alt="" style="width: 150px;">
                    </a>
                    
                </div>
                
            </div>
        </div>
        {% endfor %}

    </div>
</div>