
{% extends "base.html" %}
 {% load static %} 

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge"> 
        {% block title %}
        <title> user login</title>
        {% endblock  %}
      
        
		{% block static-css %}
		<!-- all css here -->
        <link rel="stylesheet" href="{% static '/css/htmxstyle.css' %}">
        
        {% endblock  %}
    
    {% block content %}
		{% comment %} <div class="breadcrumb-area pt-205 pb-210" style="background-image: url({% static '/img/cover.jpeg'%})">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2>login</h2>
                    <ul>
                        <li><a href="#">home</a></li>
                        <li> login </li>
                    </ul>
                </div>
            </div>
        </div> {% endcomment %}
        <!-- login-area start -->
        <div class="register-area ptb-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-12 col-lg-6 col-xl-6 ms-auto me-auto">
                        <div class="login">
                            <div class="login-form-container" id="login_varify">
                                <div class="login-form" id="login-varify">
                                    <form action="{% url 'varification' %}" method='post'  onclick="return codeformvalidation()">
                                        {% csrf_token %}
                                        <label for=""><b>enter Your 5 digit verification code has sent to your phone</b></label>
                                        <input  type="tel" name="otp" id="otpcode" placeholder="verification code...." onkeyup="codevalidation()">
                                        <p id="code_error" class="text-danger"></p>
                               
                                        <a href="{% url 'varification' %}">did'nt get an otp</a>
                                       
                                       <div class="button-box">  
                                           <button type="submit" class="default-btn floatright">verify</button>
                                           <p id="login_code_error" class="text-danger"></p>
                                           {% for msg in messages %}
                                           {{msg}}
                                           {% endfor %}
                                       </div>
                                   </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        


        {% endblock  %}
        
{% block static-js %}
<script>
    var codeError = document.getElementById('code_error')
    var codeformError=document.getElementById('login_code_error')

     function codevalidation(){

        var regex = /^\d*(\.\d{2})?$/;
        var otp = document.getElementById('otpcode').value
        if(otp==''){
            codeError.innerHTML = '<p class="text-danger">code field is empty</p>'
            return false;
        }
        else if(!regex.test(otp)){
            codeError.innerHTML = '<p class="text-danger">verification code contains only digits</p>'
            return false;
        }
        else if(otp.length!=5){
            codeError.innerHTML = '<p class="text-danger">verification code must be 5 digits</p>'
            return false;
        }
        codeError.innerHTML = '<p class="text-success">valid</p>'
        return true;
    }

    
    function codeformvalidation(){
        if(!codevalidation()){
            codeformError.innerHTML = 'enter code properly';
            return false;
        }
        codeformError.innerHTML = ''
        return true;

    }
</script>
{% endblock static-js %}