{% extends 'admin_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    {% block title %}Add/Edit Product{% endblock title %}
    
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/plugins.css' %}" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <!-- END GLOBAL MANDATORY STYLES -->
<script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>
    <!--  BEGIN CUSTOM STYLE FILE  -->   
    {% block static-css %}
    <link href="{% static 'plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/ecommerce/addedit_product.css' %}" rel="stylesheet" type="text/css">
    <!--  END CUSTOM STYLE FILE  -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.css" type="text/css">
{% endblock static-css %}
</head>
{% block content %}

        <!--  BEGIN CONTENT PART  -->
        <div id="content" class="main-content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <h3>Add/Edit Products</h3>
                    </div>
                </div>
                
               
               
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-header">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                        <h4>Add / Manage Product </h4>
                                    </div>
                                 </div>
                                 {% comment %} hx-post="add-product" hx-trigger="click" hx-target="#add_product_error" hx-swap="outerhtml" class="form-horizontal" {% endcomment %}
                                 {% comment %} action="" method='post' {% endcomment %} 
                            </div>
                            <p class="text-danger" id="add_product_error"></p>
                            <div class="widget-content widget-content-area add-manage-product-2" id="add_product">
                                {% comment %} {% include 'htmx/add_product.html' %} {% endcomment %}
                               <form action="" method='post' class="form-horizontal" enctype="multipart/form-data">
                                 {% csrf_token %}
                                <div class="row">
                                    <div class="col-xl-7 col-md-12">
                                        <div class="card card-default">
                                            <div class="card-heading"><h2 class="card-title"><span>GENERAL</span></h2></div>
                                            <div class="card-body">
                                                <div class="card-body">
                                                    <p class="text-danger" id="product_add_error"></p>
                                                        <div class="form-group mb-4">
                                                            <div class="row">
                                                                <label class="col-md-4">Name :</label>
                                                                <div class="col-md-8">
                                                                    <input required class="form-control" name="name" id="productname" type="text" onkeyup="productnamevalidation()" value="{{product.product_name}}">
                                                                    <p class="text-danger" id="productname-error"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-4">
                                                            <div class="row">
                                                                <label class="col-md-4">Title:</label>
                                                                <div class="col-md-8">
                                                                    <input required class="form-control" name="title" type="text" id="producttitle" onkeyup="producttitlevalidation()" value="{{product.product_title}}">
                                                                    <p class="text-danger" id="producttitle-error"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-4">
                                                            <div class="row">
                                                                <label class="col-md-4">Short Description :</label>
                                                                <div class="col-md-8">
                                                                    <textarea required rows="4" cols="5" name="description" id="discription" class="form-control" onkeyup="productdiscriptionvalidation()">{{product.discription}}</textarea>
                                                                    <p class="text-danger" id="productdiscription-error"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-4">
                                                            <div class="row">
                                                                <label class="col-md-4">Category :</label>
                                                                <div class="col-md-8">
                                                                    <select required class="form-control form-custom mb-4" name="category" id="category" onkeyup="categoryvalidation()">
                                                                        <option value="">Select Category</option>
                                                                        <option selected value="{{product.Category}}">{{product.Category}}</option>
                                                                        {% for category in categorys %}
                                                                        <option value="{{category.name}}">{{category.name}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    <p class="text-danger" id="category-error"></p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-4">
                                                            <div class="row">
                                                                <label class="col-md-4">Sub Category :</label>
                                                                <div class="col-md-8">
                                                                    <select required class="form-control form-custom mb-4" name="subcategory" id="subcategory" onkeyup="categoryvalidation()">
                                                                        <option value="">Select Sub Category</option>
                                                                        <option selected value="{{product.subcategory}}">{{product.subcategory}}</option>
                                                                        {% for sub_category in subcategorys %}
                                                                        <option value="{{sub_category.name}}">{{sub_category.name}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    <p class="text-danger" id="subcategory-error"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-4">
                                                            <div class="row">
                                                                <label class="col-md-4">Brand :</label>
                                                                <div class="col-md-8">
                                                                    <select required class="form-control form-custom" name="brand" id="brand" onkeyup="brandvalidation()">
                                                                        <option value="">Select a Brand</option>
                                                                        <option selected value="{{product.brand}}">{{product.brand}}</option>
                                                                        {% for brand in brands %}
                                                                        <option value="{{brand.name}}">{{brand.name}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    <p class="text-danger" id="brand-error"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-4">
                                                            <div class="row">
                                                                <label class="col-md-4">Color :</label>
                                                                <div class="col-md-8">
                                                                    <select required class="form-control form-custom" name="color" id="color" onkeyup="colorvalidation()">
                                                                        <option value="">Select a Color</option>
                                                                        <option selected value="{{product.color}}">{{product.color}}</option>
                                                                        {% for color in colors%}
                                                                        <option value="{{color.name}}">{{color.name}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    <p class="text-danger" id="color-error"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-4">
                                                            <div class="row">
                                                                <label class="col-md-4">Size :</label>
                                                                <div class="col-md-8">
                                                                    <select required class="form-control form-custom" name="size"id="size" onkeyup="sizevalidation()">
                                                                        <option value="">Select Size</option>
                                                                        <option selected value="{{product.size}}">{{product.size}}</option>
                                                                        {% for size in sizes%}
                                                                        <option value="{{size.name}}">{{size.name}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    <p class="text-danger" id="size-error"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-xl-5 col-md-12">
                                        <div class="card card-default">
                                            <div class="card-heading"><h2 class="card-title"><span>PRICING</span></h2></div>
                                            <div class="card-body">
                                              
                                                    <div class="form-group mb-4">
                                                        <div class="row">
                                                            <label class="col-md-4"> Price :</label>
                                                            <div class="col-md-8">
                                                                <input  class="form-control" name="orginalprice" type="text" id="actualprice" onkeyup="actual_pricevalidation()" value={{product.actual_price}}>
                                                                <p class="text-danger" id="actualprice_error"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% comment %} <div class="form-group mb-4">
                                                        <div class="row">
                                                            <label class="col-md-4">Discount rate:</label>
                                                            <div class="col-md-8">
                                                                <input required class="form-control" name="discountrate" type="text" id="discountrate" onkeyup="discount_ratevalidation()" value={{product.discount_rate}}>
                                                                <p class="text-danger" id="discountrate_error"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-4">
                                                        <div class="row">
                                                            <label class="col-md-4">Offer Price:</label>
                                                            <div class="col-md-8">
                                                                <input required class="form-control" name="offerprice" type="text" id="discountprice" onkeyup="discount_pricevalidation()" value={{product.discount_price}}>
                                                                <p class="text-danger" id="discountprice_error"></p>
                                                            </div>
                                                        </div>
                                                    </div> {% endcomment %}
                                                    
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <label class="col-md-12"><span>Image</span></label>
                                                        </div>
                                                    </div>
                                                    
                                                   
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <label class="col-md-4">Image :</label>
                                                            <div class="col-md-8">
                                                                <div class="mb-3">
                                                                    <div id="image-box"></div>
                                                                    <div class="custom-file">
                                                                        <input  type="file"  class="form-control-file" name='image1'  id="image1" onchange="return image1validation()">
                                                                        <p class="text-danger" id="image1_error"></p>
                                                                    </div>
                                                                    
                                                                </div>
                                                                 <div class="mb-3">
                                                                    <div class="custom-file">
                                                                        <input required type="file"  class="form-control-file" name='image2' id="image2" onchange="return image2validation()">
                                                                        <p class="text-danger" id="image2_error"></p>
                                                                    </div>
                                                                    
                                                                </div> 
                                                                <div class="mb-3">
                                                                    <div class="custom-file">
                                                                        <input required type="file"  class="form-control-file" name='image3' id="image3" onchange="return image3validation()">
                                                                        <p class="text-danger" id="image3_error"></p>
                                                                    </div>
                                                                    
                                                                </div>
                                                                <div class="mb-3">
                                                                    <div class="custom-file">
                                                                        <input required type="file"  class="form-control-file" name='image4' id="image4" onchange="return image4validation()">
                                                                        <p class="text-danger" id="image4_error"></p>
                                                                    </div>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <div class="custom-file">
                                                                        <input required type="file"  class="form-control-file" name='image5' id="image5" onchange="return image5validation()">
                                                                        <p class="text-danger" id="image5_error"></p>
                                                                    </div> 
                                                                       
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                   
                                               
                                            </div>
                                        </div>
                                        <div class="align-center"> 
                                            <input value="Insert Product" class="btn" onclick="return form_validatiion()" type="submit">
                                        </div>
                            
                                
                        
                                    </div>
                                </div>
                            </form> 
                            </div>
                        </div>
                    </div>
                </div>
           
            </div>
        </div>
        <!--  END CONTENT PART  -->
    </div>
    {% endblock content %}
    <!-- END MAIN CONTAINER -->

    <!--  BEGIN FOOTER  -->
    <footer class="footer-section theme-footer">

        <div class="footer-section-1  sidebar-theme">
            
        </div>

        <div class="footer-section-2 container-fluid">
            <div class="row">
                <div id="toggle-grid" class="col-xl-7 col-md-6 col-sm-6 col-12 text-sm-left text-center">
                    <ul class="list-inline links ml-sm-5">
                        <li class="list-inline-item">
                            <a target="_blank" href="https://themeforest.net/item/equation-responsive-admin-dashboard-template/23191987">Buy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-5 col-md-6 col-sm-6 col-12">
                    <ul class="list-inline mb-0 d-flex justify-content-sm-end justify-content-center mr-sm-3 ml-sm-0 mx-3">
                        <li class="list-inline-item  mr-3">
                            <p class="bottom-footer">&#xA9; 2019 <a target="_blank" href="https://designreset.com/equation">Equation Admin Theme</a></p>
                        </li>
                        <li class="list-inline-item align-self-center">
                            <div class="scrollTop"><i class="flaticon-up-arrow-fill-1"></i></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--  END FOOTER  -->

    <!--  BEGIN PROFILE SIDEBAR  -->
    <aside class="profile-sidebar text-center">
        <div class="profile-content profile-content-scroll">
            <div class="usr-profile">
                <img src="assets/img/90x90.jpg" alt="admin-profile" class="img-fluid">
            </div>
            <p class="user-name mt-4 mb-4">Vincent Carpenter</p>
            <div class="">
                <div class="accordion" id="user-stats">
                    <div class="card">
                        <div class="card-header pb-4 mb-4" id="status">
                            <h6 class="mb-0" data-toggle="collapse" data-target="#user-status" aria-expanded="true" aria-controls="user-status"><i class="flaticon-view-3 mr-2"></i> Status <i class="flaticon-down-arrow ml-2"></i> </h6>
                        </div>
                        <div id="user-status" class="collapse show" aria-labelledby="status" data-parent="#user-stats">
                            <div class="card-body text-left">
                                <ul class="list-unstyled pb-4">
                                    <li class="status-online"><a href="javascript:void(0);">Online</a></li>
                                    <li class="status-away"><a href="javascript:void(0);">Away</a></li>
                                    <li class="status-no-disturb"><a href="javascript:void(0);">Not Disturb</a></li>
                                    <li class="status-invisible"><a href="javascript:void(0);">Invisible</a></li>
                                    <li class="status-offline"><a href="javascript:void(0);">Offline</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-links text-left">
                <ul class="list-unstyled">
                    <li><a href="apps_mailbox.html"><i class="flaticon-mail-22"></i> Inbox</a></li>
                    <li><a href="user_profile.html"><i class="flaticon-user-11"></i> My Profile</a></li>
                    <li><a href="user_login_1.html"><i class="flaticon-power-off"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </aside>
    <!--  BEGIN PROFILE SIDEBAR  -->
    
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    {% comment %} <script src="{% static 'assets/cropper.js'%}"></script>
    <script src="{% static 'assets/cropping .js'%}"></script>
    <script src="{% static 'assets/jscropper.js'%}"></script>
    <script src="{% static 'assets/jsjquery-cropper.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'assets/js/crop.js' %}"></script> {% endcomment %}
    
    {% block static-js %}
    <script src"https://code.jquery.com/jquery-3.5.1min.js" ></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-cropper/1.0.1/jquery-cropper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script>
    var productnameerror=document.getElementById('productname-error')
    var producttitleerror = document.getElementById('producttitle-error')
    var productdiscriptionerror = document.getElementById('productdiscription-error')
    var categoryerror = document.getElementById('category-error')
    var subcategoryerror = document.getElementById('subcategory-error')
    var branderror = document.getElementById('brand-error')
    var colorerror = document.getElementById('color-error')
    var sizeerror = document.getElementById('size-error')
    var actualprice_error = document.getElementById('actualprice_error')
    var disscountrate_error = document.getElementById('discountrate_error')
    var discountprice_error = document.getElementById('discountprice_error')
    var image1_error = document.getElementById('image1_error')
    var image2_error = document.getElementById('image2_error')
    var image3_error = document.getElementById('image3_error')
    var image4_error = document.getElementById('image4_error')
    var image5_error = document.getElementById('image5_error')
    var product_add_error = document.getElementById('product_add_error')
    function productnamevalidation(){

        var name = document.getElementById('productname').value
        if (name==''){
            productnameerror.innerHTML = '<p class="text-danger">productname field is empty</p>'
            return false;
        }
        else if(!name.match(/^[A-Za-z\s]{3,}$/)){
            productnameerror.innerHTML = '<p class="text-danger">productname name must be characters only</p>'
        return false;
    
        }
        productnameerror.innerHTML = '<p class="text-success">valid</p>'
        return true;
    }
    function producttitlevalidation(){

        var title = document.getElementById('producttitle').value
        if (title==''){
            producttitleerror.innerHTML = '<p class="text-danger">product title field is empty</p>'
            return false;
        }
        else if(!title.match(/^[A-Za-z\s]{3,}$/)){
            producttitleerror.innerHTML = '<p class="text-danger">product title  must be characters only</p>'
        return false;
    
        }
        producttitleerror.innerHTML = '<p class="text-success">valid</p>'
        return true;
    }
    function productdiscriptionvalidation(){

        var discription = document.getElementById('discription').value
        if (discription==''){
            productdiscriptionerror.innerHTML = '<p class="text-danger">product title field is empty</p>'
            return false;
        }
        else if(!discription.match(/^[A-Za-z\s]{3,}$/)){
            productdiscriptionerror.innerHTML = '<p class="text-danger">product discription  must be characters only</p>'
        return false;
        }
        productdiscriptionerror.innerHTML = '<p class="text-success">valid</p>'
        return true;
    }
    function categoryvalidation(){

        var category = document.getElementById('category').value
        if (category==''){
            categoryerror.innerHTML = '<p class="text-danger">category  field is empty</p>'
            return false;
        }
        categoryerror.innerHTML = '<p class="text-success">valid</p>'
        return true;
    }
    function subcategoryvalidation(){

        var subcategory = document.getElementById('subcategory').value
        if (subcategory==''){
            subcategoryerror.innerHTML = '<p class="text-danger">subcategory  field is empty</p>'
            return false;
        }
        subcategoryerror.innerHTML = '<p class="text-success">valid</p>'
        return true;
    }
    function brandvalidation(){

        var brand = document.getElementById('brand').value
        if (brand==''){
            branderror.innerHTML = '<p class="text-danger">brand  field is empty</p>'
            return false;
        }
        branderror.innerHTML = '<p class="text-success">valid</p>'
        return true;
    }
    function colorvalidation(){

        var color = document.getElementById('color').value
        if (color==''){
            colorerror.innerHTML = '<p class="text-danger">color  field is empty</p>'
            return false;
        }
        colorerror.innerHTML = '<p class="text-success">valid</p>'
        return true;
    }
    function sizevalidation(){

        var size = document.getElementById('size').value
        if (size==''){
            sizeerror.innerHTML = '<p class="text-danger">subcategory  field is empty</p>'
            return false;
        }
        sizeerror.innerHTML = '<p class="text-success">valid</p>'
        return true;
    }
    function actual_pricevalidation(){

        var actual_price = document.getElementById('actualprice').value
        var regex = /^\d*(\.\d{2})?$/;
        if (actual_price==''){
            actualprice_error.innerHTML = '<p class="text-danger"price   field is empty</p>'
            return false;
        }
        else if(!regex.test(actual_price)){
            actualprice_error.innerHTML = '<p class="text-danger">price field only contains digits</p>'
            return false; 
        }
        else if(actual_price==0){
            actualprice_error.innerHTML = '<p class="text-danger">zero is not considered as price</p>'
            return false; 
        }
        actualprice_error.innerHTML = '<p class="text-success">valid</p>'
        return true;
    }
    function discount_pricevalidation(){

        var discount_price = document.getElementById('discountprice').value
        var regex = /^\d*(\.\d{2})?$/;
        if (discount_price==''){
            discountprice_error.innerHTML = '<p class="text-danger">price   field is empty</p>'
            return false;
        }
        else if(!regex.test(discount_price)){
            discountprice_error.innerHTML = '<p class="text-danger">price field only contains digits</p>'
            return false; 
        }
        else if(discount_price ==0){
            discountprice_error.innerHTML = '<p class="text-danger">zero is not considered as price</p>'
            return false; 
        }
        discountprice_error.innerHTML = '<p class="text-success">valid</p>'
        return true;
    }
    function discount_ratevalidation(){

        var discount_rate = document.getElementById('discountrate').value
        var regex = /^\d*(\.\d{2})?$/;
        if (discount_rate==''){
            disscountrate_error.innerHTML = '<p class="text-danger">discount rate field is empty</p>'
            return false;
        }
        else if(!regex.test(discount_rate)){
            disscountrate_error.innerHTML = '<p class="text-danger">discount rate field only contains digits</p>'
            return false; 
        }
        else if(discount_rate==0){
            disscountrate_error.innerHTML = '<p class="text-danger">zero is not considered as discount rate</p>'
            return false; 
        }
        else if(discount_rate>70){
            disscountrate_error.innerHTML = '<p class="text-danger">maximum discount rate is 70 %</p>'
            return false; 
        }
        disscountrate_error.innerHTML = '<p class="text-success">valid</p>'
        return true;
    }
var allowedExtensions=/(\.jpeg|\.jpg|\.png)$/i;
function image1validation(){
    var image1=document.getElementById('image1').value
    if(image1==''){
        image1_error.innerHTML='<p class="text-danger">image field is empty</p>'
        return false; 
    }
    else if (!allowedExtensions.exec(image1)){
        image1_error.innerHTML='<p class="text-danger">only allowed .jpeg .jpg .png extensions</p>'
        return false;   
    }
    image1_error.innerHTML='<p class="text-success">valid</p>'
    return true;
 }
 function image2validation(){
    var image2=document.getElementById('image2').value
    if(image2==''){
        image2_error.innerHTML='<p class="text-danger">image field is empty</p>'
        return false; 
    }
    else if (!allowedExtensions.exec(image2)){
        image2_error.innerHTML='<p class="text-danger">only allowed .jpeg .jpg .png extensions</p>'
        return false;   
    }
    image2_error.innerHTML='<p class="text-success">valid</p>'
    return true;

 }
 function image3validation(){
    var image3=document.getElementById('image3').value
    if(image3==''){
        image3_error.innerHTML='<p class="text-danger">image field is empty</p>'
        return false; 
    }
    else if (!allowedExtensions.exec(image3)){
        image3_error.innerHTML='<p class="text-danger">only allowed .jpeg .jpg .png extensions</p>'
        return false;   
    }
    image3_error.innerHTML='<p class="text-success">valid</p>'
    return true;

 }
 function image4validation(){
    var image4=document.getElementById('image4').value
    if(image4==''){
        image4_error.innerHTML='<p class="text-danger">image field is empty</p>'
        return false; 
    }
    else if (!allowedExtensions.exec(image4)){
        image4_error.innerHTML='<p class="text-danger">only allowed .jpeg .jpg .png extensions</p>'
        return false;   
    }
    image4_error.innerHTML='<p class="text-success">valid</p>'
    return true;

 }
 function image5validation(){
    var image5=document.getElementById('image5').value
    if(image5==''){
        image5_error.innerHTML='<p class="text-danger">image field is empty</p>'
        return false; 
    }
    else if (!allowedExtensions.exec(image5)){
        image5_error.innerHTML='<p class="text-danger">only allowed .jpeg .jpg .png extensions</p>'
        return false;   
    }
    image5_error.innerHTML='<p class="text-success">valid</p>'
    return true;
 }
 function form_validatiion(){
    if(!productnamevalidation()||!producttitlevalidation()||!productdiscriptionvalidation()||!categoryvalidation()||!subcategoryvalidation()||
    !brandvalidation()||!colorvalidation()||!sizevalidation()||!actual_pricevalidation()||!discount_pricevalidation()||!discount_ratevalidation()
    ||!image1validation()||!image2validation()||!image3validation()||!image3validation()||!image4validation()||!image5validation()){

        product_add_error.innerHTML='<p class="text-danger">fill all fields</p>';
        return false;
    }
    product_add_error.innerHTML='<p class="text-success">valid</p>';
    return true;
 }   

    
    
    
</script>


    <script src="{% static 'assets/js/libs/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'assets/js/loader.js' %}"></script>
    <script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'plugins/blockui/jquery.blockUI.min.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script>
        document.body.addEventListener('htmx:configRequest', (evt)=> {
           // evt.detail.parameters['auth_token'] = getAuthToken();  add a new parameter into the request
             evt.detail.headers['X-CSRFToken'] = '{{csrf_token}}'; // add a new header into the request
        });
    </script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <!-- END GLOBAL MANDATORY STYLES -->
    
    <!--  BEGIN CUSTOM SCRIPT FILES  -->
    <script src="{% static 'js/ecommerce/autocomplete-addedit_product.js' %}"></script>
    <!--  END CUSTOM SCRIPT FILES  -->  
    
    <script src="    https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    
    {% endblock static-js %}
</body>
</html>