{% extends 'admin_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    {% block title %}<title>Add/Edit Product </title>{% endblock title %}
    
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/plugins.css' %}" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <!-- END GLOBAL MANDATORY STYLES -->
<script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>
    <!--  BEGIN CUSTOM STYLE FILE  -->   
    {% block static-css %}
    <link href="{% static 'plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/ecommerce/addedit_product.css' %}" rel="stylesheet" type="text/css">
    <!--  END CUSTOM STYLE FILE  -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.css" type="text/css">
{% endblock static-css %}
</head>
{% block content %}

        <!--  BEGIN CONTENT PART  -->
        <div id="content" class="main-content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <h3>Add/Edit Products</h3>
                    </div>
                </div>
                
                {% comment %} <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-header">                                
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                        <h4>ssss / Manage Product </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content widget-content-area add-manage-product-1">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-12 text-center">
                                        <div class="product-img">
                                            <img src="assets/img/320x320.jpg" alt="img">
                                        </div>
                                        <div class="d-flex thumbs-img mt-4 justify-content-center">
                                            <div class="mr-2">
                                                <img src="assets/img/320x320.jpg" alt="img">
                                            </div>
                                            <div class="mr-2">
                                                <img src="assets/img/320x320.jpg" alt="img">
                                            </div>
                                            <div class="mr-2">
                                                <img src="assets/img/320x320.jpg" alt="img">
                                            </div>
                                            <div class="file-input position-relative">
                                                <i class="flaticon-circle-plus"></i>
                                                <input type="file">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-8 col-lg-8 col-md-12">
                                        <form class="form-horizontal" action="#">
                                            <div class="form-group">
                                                <div class="row">
                                                    <label class="col-md-5">category:</label>
                                                    <div class="col-md-7">
                                                        <select class="form-control form-custom" name="attribute_set">
                                                            <option value="opt1">Default</option>
                                                            <option value="opt2">Furniture</option>
                                                            <option value="opt3">Shoes</option>
                                                            <option value="opt4">Cell Phones</option>
                                                            <option value="opt5">Monitors</option>
                                                            <option value="opt6">Clothing</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div><br>
                                            <div class="form-group">
                                                <div class="row">
                                                    <label class="col-md-5">subcategory</label>
                                                    <div class="col-md-7">
                                                        <select class="form-control form-custom" name="product">
                                                            <option value="opt1">Simple Product</option>
                                                            <option value="opt2">Configurable Product</option>
                                                            <option value="opt3">Bundle Product</option>
                                                            <option value="opt4">Grouped Product</option>
                                                            <option value="opt5">Virtual Product</option>
                                                            <option value="opt6">Downloadable Product</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div><br>
                                            <div class="align-center"> 
                                                <input value="Continue" class="btn" type="submit">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}
           {% comment %} </form>  {% endcomment %}
               
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-header">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                        <h4>Add / Manage Product </h4>
                                    </div>
                                 </div>
                                 {% comment %} hx-post="add-product" hx-trigger="click" hx-target="#add_product_error" hx-swap="outerhtml" class="form-horizontal" {% endcomment %}
                                 {% comment %} action="" method='post' {% endcomment %} 
                            </div>
                            <p class="text-danger" id="add_product_error"></p>
                            <div class="widget-content widget-content-area add-manage-product-2" id="add_product">
                                {% comment %} {% include 'htmx/add_product.html' %} {% endcomment %}
                               <form action="" method='post' class="form-horizontal" enctype="multipart/form-data">
                                 {% csrf_token %}
                                <div class="row">
                                    <div class="col-xl-7 col-md-12">
                                        <div class="card card-default">
                                            <div class="card-heading"><h2 class="card-title"><span>GENERAL</span></h2></div>
                                            <div class="card-body">
                                                <div class="card-body">
                                                   
                                                        <div class="form-group mb-4">
                                                            <div class="row">
                                                                <label class="col-md-4">Name :</label>
                                                                <div class="col-md-8">
                                                                    <input required class="form-control" name="name" type="text" value="{{product.product_name}}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-4">
                                                            <div class="row">
                                                                <label class="col-md-4">Title:</label>
                                                                <div class="col-md-8">
                                                                    <input required class="form-control" name="title" type="text" value="{{product.product_title}}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-4">
                                                            <div class="row">
                                                                <label class="col-md-4">Short Description :</label>
                                                                <div class="col-md-8">
                                                                    <textarea required rows="4" cols="5" name="description" class="form-control" value="{{product.product_description}}"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-4">
                                                            <div class="row">
                                                                <label class="col-md-4">Category :</label>
                                                                <div class="col-md-8">
                                                                    <select required class="form-control form-custom mb-4" name="category">
                                                                        <option value="">Select Category</option>
                                                                        {% for category in categorys %}
                                                                        <option value="{{category.name}}">{{category.name}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-4">
                                                            <div class="row">
                                                                <label class="col-md-4">Sub Category :</label>
                                                                <div class="col-md-8">
                                                                    <select required class="form-control form-custom mb-4" name="subcategory">
                                                                        <option value="">Select Sub Category</option>
                                                                        {% for sub_category in subcategorys %}
                                                                        <option value="{{sub_category.name}}">{{sub_category.name}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-4">
                                                            <div class="row">
                                                                <label class="col-md-4">Brand :</label>
                                                                <div class="col-md-8">
                                                                    <select required class="form-control form-custom" name="brand">
                                                                        <option value="">Select a Brand</option>
                                                                        {% for brand in brands %}
                                                                        <option value="{{brand.name}}">{{brand.name}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-4">
                                                            <div class="row">
                                                                <label class="col-md-4">Color :</label>
                                                                <div class="col-md-8">
                                                                    <select required class="form-control form-custom" name="color">
                                                                        <option value="">Select a Color</option>
                                                                        {% for color in colors%}
                                                                        <option value="{{color.name}}">{{color.name}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-4">
                                                            <div class="row">
                                                                <label class="col-md-4">Size :</label>
                                                                <div class="col-md-8">
                                                                    <select required class="form-control form-custom" name="size">
                                                                        <option value="">Select Size</option>
                                                                        {% for size in sizes%}
                                                                        <option value="{{size.name}}">{{size.name}}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-xl-5 col-md-12">
                                        <div class="card card-default">
                                            <div class="card-heading"><h2 class="card-title"><span>PRICING</span></h2></div>
                                            <div class="card-body">
                                              
                                                    <div class="form-group mb-4">
                                                        <div class="row">
                                                            <label class="col-md-4">Orginal Price :</label>
                                                            <div class="col-md-8">
                                                                <input required class="form-control" name="orginalprice" type="text" value={{updated_price.actual_price}}>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-4">
                                                        <div class="row">
                                                            <label class="col-md-4">Discount rate:</label>
                                                            <div class="col-md-8">
                                                                <select required class="form-control form-custom" name="discountrate">
                                                                    <option value="">Please Select</option>
                                                                    <option value="10">10%</option>
                                                                    <option value="20">20%</option>
                                                                    <option value="30">30%</option>
                                                                    <option value="40">40%</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-4">
                                                        <div class="row">
                                                            <label class="col-md-4">Offer Price:</label>
                                                            <div class="col-md-8">
                                                                <input required class="form-control" name="offerprice" type="text" value={{updated_price.discount_price}}>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <label class="col-md-12"><span>Image</span></label>
                                                        </div>
                                                    </div>
                                                    
                                                   
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <label class="col-md-4">Image :</label>
                                                            <div class="col-md-8">
                                                                <div class="mb-3">
                                                                    <div id="image-box"></div>
                                                                    <div class="custom-file">
                                                                        <input required type="file"  class="form-control-file" name='image1' id="image-id">
                                                                    </div>
                                                                    
                                                                </div>
                                                                 <div class="mb-3">
                                                                    <div class="custom-file">
                                                                        <input required type="file"  class="form-control-file" name='image2' id="file-input">
                                                                    </div>
                                                                    
                                                                </div> 
                                                                <div class="mb-3">
                                                                    <div class="custom-file">
                                                                        <input required type="file"  class="form-control-file" name='image3' id="file-input">
                                                                    </div>
                                                                    
                                                                </div>
                                                                <div class="mb-3">
                                                                    <div class="custom-file">
                                                                        <input required type="file"  class="form-control-file" name='image4' id="file-input">
                                                                    </div>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <div class="custom-file">
                                                                        <input required type="file"  class="form-control-file" name='image5' id="file-input">
                                                                    </div> 
                                                                       
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    
                                               
                                            </div>
                                        </div>
                                        <div class="align-center"> 
                                            <input value="Insert Product" class="btn" type="submit">
                                        </div>
                            
                                
                        
                                    </div>
                                </div>
                            </form> 
                            </div>
                        </div>
                    </div>
                </div>
           
            </div>
        </div>
        <!--  END CONTENT PART  -->
    </div>
    {% endblock content %}
    <!-- END MAIN CONTAINER -->

    <!--  BEGIN FOOTER  -->
    <footer class="footer-section theme-footer">

        <div class="footer-section-1  sidebar-theme">
            
        </div>

        <div class="footer-section-2 container-fluid">
            <div class="row">
                <div id="toggle-grid" class="col-xl-7 col-md-6 col-sm-6 col-12 text-sm-left text-center">
                    <ul class="list-inline links ml-sm-5">
                        <li class="list-inline-item">
                            <a target="_blank" href="https://themeforest.net/item/equation-responsive-admin-dashboard-template/23191987">Buy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-5 col-md-6 col-sm-6 col-12">
                    <ul class="list-inline mb-0 d-flex justify-content-sm-end justify-content-center mr-sm-3 ml-sm-0 mx-3">
                        <li class="list-inline-item  mr-3">
                            <p class="bottom-footer">&#xA9; 2019 <a target="_blank" href="https://designreset.com/equation">Equation Admin Theme</a></p>
                        </li>
                        <li class="list-inline-item align-self-center">
                            <div class="scrollTop"><i class="flaticon-up-arrow-fill-1"></i></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--  END FOOTER  -->

    <!--  BEGIN PROFILE SIDEBAR  -->
    <aside class="profile-sidebar text-center">
        <div class="profile-content profile-content-scroll">
            <div class="usr-profile">
                <img src="assets/img/90x90.jpg" alt="admin-profile" class="img-fluid">
            </div>
            <p class="user-name mt-4 mb-4">Vincent Carpenter</p>
            <div class="">
                <div class="accordion" id="user-stats">
                    <div class="card">
                        <div class="card-header pb-4 mb-4" id="status">
                            <h6 class="mb-0" data-toggle="collapse" data-target="#user-status" aria-expanded="true" aria-controls="user-status"><i class="flaticon-view-3 mr-2"></i> Status <i class="flaticon-down-arrow ml-2"></i> </h6>
                        </div>
                        <div id="user-status" class="collapse show" aria-labelledby="status" data-parent="#user-stats">
                            <div class="card-body text-left">
                                <ul class="list-unstyled pb-4">
                                    <li class="status-online"><a href="javascript:void(0);">Online</a></li>
                                    <li class="status-away"><a href="javascript:void(0);">Away</a></li>
                                    <li class="status-no-disturb"><a href="javascript:void(0);">Not Disturb</a></li>
                                    <li class="status-invisible"><a href="javascript:void(0);">Invisible</a></li>
                                    <li class="status-offline"><a href="javascript:void(0);">Offline</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-links text-left">
                <ul class="list-unstyled">
                    <li><a href="apps_mailbox.html"><i class="flaticon-mail-22"></i> Inbox</a></li>
                    <li><a href="user_profile.html"><i class="flaticon-user-11"></i> My Profile</a></li>
                    <li><a href="user_login_1.html"><i class="flaticon-power-off"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </aside>
    <!--  BEGIN PROFILE SIDEBAR  -->
    
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    {% comment %} <script src="{% static 'assets/cropper.js'%}"></script>
    <script src="{% static 'assets/cropping .js'%}"></script>
    <script src="{% static 'assets/jscropper.js'%}"></script>
    <script src="{% static 'assets/jsjquery-cropper.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'assets/js/crop.js' %}"></script> {% endcomment %}
    
    {% block static-js %}
    <script src"https://code.jquery.com/jquery-3.5.1min.js" ></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-cropper/1.0.1/jquery-cropper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>




    <script src="{% static 'assets/js/libs/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'assets/js/loader.js' %}"></script>
    <script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'plugins/blockui/jquery.blockUI.min.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script>
        document.body.addEventListener('htmx:configRequest', (evt)=> {
           // evt.detail.parameters['auth_token'] = getAuthToken();  add a new parameter into the request
             evt.detail.headers['X-CSRFToken'] = '{{csrf_token}}'; // add a new header into the request
        });
    </script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <!-- END GLOBAL MANDATORY STYLES -->
    
    <!--  BEGIN CUSTOM SCRIPT FILES  -->
    <script src="{% static 'js/ecommerce/autocomplete-addedit_product.js' %}"></script>
    <!--  END CUSTOM SCRIPT FILES  -->  
    
    <script src="    https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    
    {% endblock static-js %}
</body>
</html>