{% extends 'admin_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    {% block title %}
    order_details 
    {% endblock title %}
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/plugins.css' %}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
{% block static-css %}
    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/datatables.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/ecommerce/order.css' %}">
    <link href="{% static 'assets/css/ecommerce/product-details-1.css' %}" rel="stylesheet" type="text/css" />
    <!--  END CUSTOM STYLE FILE  --> 
    {% endblock static-css %}   
</head>

        <!--  END MODERN  -->
{% block content %}
        <!--  BEGIN CONTENT PART  -->
        <div id="content" class="main-content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <h3>Product Details</h3>
                    </div>
                </div>

                <div class="statbox widget box box-shadow">
                    <div class="widget-content">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
                                <div class="widget-content-area product-detail-1">
                                    <div class="row">
                                        <div class="table-responsive mb-4">
                                            

                                            <table id="ecommerce-order-list" class="table table-hover table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="checkbox-column">id </th>
                                                        <th>image</th>
                                                        <th>product</th>
                                                        <th>Purchased On</th>
                                                        <th>TRACK NUMBER</th>
                                                        <th>quantity</th>
                                                        <th>unit price</th>
                                                      
                                                       
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                    <tr>
                                                        {% for orderedproducts in orderedproducts %}
                                                        <td class="checkbox-column">  </td>
                                                        <td><img src="{{orderedproducts.product.cover_image.url}}" alt="product" width="100px"></td>
                                                        <td>{{orderedproducts.product.product_name}}</td>
                                                        <td>{{order.created_at}}</td>
                                                        <td>{{order.tracking_number}}</td>
                                                        <td>{{orderedproducts.quantity}}</td>
                                                        <td>{{orderedproducts.product.discount_price}}</td>
                                                      
                                                        
                                                        
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>

                                            <a href="{% url 'delete-order' order.id %}"><button type="button" class="btn btn-danger ">Delete Order</button></a>
                                                        <br><br>
                                                  
                                                       
                                                       
                                                        <form action="{% url 'order-status' order.id %}" method="post">
                                                            {% csrf_token %}
                                                          <select name="status" id="">
                                                            <option selected value="{{order.status}}">{{order.status}}</option>
                                                            {% if order.status != 'returned' %}
                                                            {% if order.status != 'canceled' %}
                                                            {% if order.status != 'delivered' %}
                                                            {% if order.status != 'shipped' %}
                                                           
                                                            <option value="confirmed">confirmed</option>
                                                            <option value="shipped">shipped</option>
                                                            <option value="delivered">delivered</option>
                                                            {% else %}
                                                            
                                                            <option value="shipped">shipped</option>
                                                            <option value="delivered">delivered</option>
                                                            {% endif %}
                                                            {% endif %}
                                                            {% endif %}
                                                            {% endif %}
                                                          </select>
                                                          <button type="submit" class="btn btn-danger ">save</button>
                                                        </form>   
                                                       
                                                 
                                        </div>
                                    </div>

                                    <div class="col-xl-12 col-lg-12 col-md-12">
                                        <div class="product-breif-description">
                                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="pills-description" data-toggle="pill" href="#pills-desc" role="tab" aria-controls="pills-desc" aria-selected="true">User Address</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="pills-additional-info" data-toggle="pill" href="#pills-add-info" role="tab" aria-controls="pills-add-info" aria-selected="false">Product has to be send this address</a>
                                                </li>
                                                
                                            </ul>
                                            <div class="tab-content" id="pills-tabContent">
                                                <div class="tab-pane fade show active" id="pills-desc" role="tabpanel" aria-labelledby="pills-description">
                                                    <label for="username">User  name:</label>
                                                    <h3 class="mb-4 mt-5 text-dark">{{order.user.first_name}} {{order.user.last_name}}</h3>
                                                   <label for="email">Email</label>
                                                   <h5 class="text-dark">{{order.user.email}}</h5>
                                                   <h5 class="text-dark">{{order.user.phone}}</h5>
                                                    {% if order.order_for_others %}
                                                    <h5>{{order.user.first_name}} ordered items for {{order.fist_name}} {{order.last_name}}</h5>
                                                    {% endif %}
                                                    <label for="grand total">grand total:{{order.total_price}}</label>
                                                    <br>
                                                    <label for="">Payment Method:{{order.payment_mode.payment_mode}}</label>
                                                    
                                                </div>
                                                <div class="tab-pane fade" id="pills-add-info" role="tabpanel" aria-labelledby="pills-additional-info">
                                                    <h5 class="mb-4 mt-5 text-danger">Delivery address</h5>
                                                   <label for="name">Name:</label>
                                                   <h5 class="text-dark">{{order.fist_name}} {{order.last_name}}</h5>
                                                   <label for="email">Email</label>
                                                   <h5 class="text-dark">{{order.email}}</h5>
                                                   <label for="phone">Addressline 1:</label>
                                                   <h5 class="text-dark">{{order.addressline1}} </h5>
                                                   <label for="name">Addressline2:</label>
                                                   <h5 class="text-dark">{{order.addressline2}}</h5>
                                                   <label for="name">City</label>
                                                   <h5 class="text-dark">{{order.city}}</h5>
                                                   <label for="name">State</label>
                                                   <h5 class="text-dark">{{order.state}}</h5>
                                                   <label for="name">Phone:</label>
                                                   <h5 class="text-dark">{{order.phone}}</h5>


                                                </div>
                                              
                                            </div>
                                        </div>
                                    </div>
                                    
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  END CONTENT PART  -->
    </div>
    {% endblock content %} <!-- END MAIN CONTAINER -->

    <!--  BEGIN FOOTER  -->
    
    <!-- END GLOBAL MANDATORY STYLES -->
{% block static-js %}
    <!--  BEGIN CUSTOM SCRIPT FILES  -->
    <script src="{% static 'plugins/table/datatable/datatables.js' %}"></script>
    <script src="{% static 'plugins/progressbar/progressbar.min.js' %}"></script>
    <script src="{% static 'assets/js/ecommerce/order.js' %}"></script>
    <script src="{% static 'assets/js/ecommerce/custom-ecommerce_pro_detail1.js' %}"></script>
    <!--  END CUSTOM SCRIPT FILES  --> 
    {% endblock static-js %}  
</body>
</html>