{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}
    
        {% endblock  %}
    </title>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="{% static 'assets/css/loader.css' %}" rel="stylesheet" type="text/css" >
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" >
    <link href="{% static 'assets/css/plugins.css'%}" rel="stylesheet" type="text/css" >
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}"> 
    <!-- END GLOBAL MANDATORY STYLES -->
    <script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>
    {% comment %} <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link href="{% static 'plugins/dropzone/dropzone.min.css'%}" rel="stylesheet" type="text/css" >
    <link href="{% static 'assets/css/accounting-dashboard/style.css'%}" rel="stylesheet" type="text/css" >
    <link href="{% static 'plugins/charts/c3charts/c3.min.css'%}" rel="stylesheet" type="text/css">    
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES --> {% endcomment %}
    {% block static-css %}

    {% endblock  %}
</head>
<body>
    <div id="eq-loader">
      <div class="eq-loader-div">
          <div class="eq-loading dual-loader mx-auto mb-5"></div>
      </div>
    </div>
    <!--  BEGIN NAVBAR  -->
    <header class="desktop-nav header navbar fixed-top">
        <div class="nav-logo mr-sm-5 ml-sm-4">
            <a href="javascript:void(0);" class="nav-link sidebarCollapse d-inline-block mr-sm-5" data-placement="bottom">
                <i class="flaticon-menu-line-3"></i>
            </a>
            <a href="{%url 'admin-home'%}" class=""> <img src="{% static '/img/logo.png'%}" width="100px" class="img-fluid" alt="logo"></a>
        </div>
        <ul class="navbar-nav flex-row mr-auto">
            <li class="nav-item ml-4 d-lg-none d-sm-block d-none">
                <form class="form-inline search-full form-inline search animated-search" role="search">
                    <i class="flaticon-search-1 d-lg-none d-block"></i>
                    <input type="text" class="form-control search-form-control  ml-lg-auto" placeholder="Search...">
                </form>
            </li>
            <li class="nav-item d-lg-block d-none">
                <form class="form-inline form-inline search animated-search" role="search">
                    <i class="flaticon-search-1 d-lg-none d-block"></i>
                    <input type="text" class="form-control search-form-control" placeholder="Search here...">
                </form>
            </li>
        </ul>

        <ul class="navbar-nav flex-row ml-lg-auto">

            

            

            <li class="nav-item dropdown user-profile-dropdown pl-4 pr-lg-0 pr-2 ml-lg-2 mr-lg-4  align-self-center">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle user">
                    <div class="user-profile d-lg-block d-none">
                        <a href="">{{request.user.first_name}}</a>
                        {% comment %} <img src="" alt="{{request.user.first_name}}" class="img-fluid"> {% endcomment %}

                    </div>
                    <i class="flaticon-user-7 d-lg-none d-block"></i>
                </a>
            </li>
        </ul>
    </header>
    <!--  END NAVBAR  -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">
        <div class="overlay"></div>
        <div class="ps-overlay"></div>
        <div class="search-overlay"></div>
        
        <!--  BEGIN MODERN  -->
        <div class="modernSidebar-nav header navbar">
            <div class="">
                <nav id="modernSidebar">
                    <ul class="menu-categories pl-0 m-0" id="topAccordion">
                        <li class="menu">
                            <a href="" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                                <div class="">
                                    <i class="flaticon-computer-6"></i>
                                    <span>Dashboard</span>
                                </div>
                            </a>
                            
                        </li>

                        <li class="menu">
                            <a href="#uiAndComponents" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">
                                <div class="">
                                    <i class="flaticon-3d-cube"></i>
                                    <span>Products</span>
                                </div>
                            </a>
                            <div class="submenu list-unstyled collapse eq-animated eq-fadeInUp" id="uiAndComponents" data-parent="#topAccordion">
                                <div class="submenu-scroll">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#ui-features" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"> <span class="">PRODUCT MANAGEMENT</span> </a>
                                            <ul class="list-unstyled sub-submenu collapse show eq-animated eq-fadeInUp" id="ui-features">
                                                <li>
                                                    <a href="{% url 'view-product' %}"> view Products </a>
                                                </li>
                                                <li>
                                                    <a href=""> search product </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'add-product'  %}"> add product </a>
                                                </li>
                                                
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#components" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"> <span class="">CATEGORY MANAGEMENT</span> </a>
                                            <ul class="list-unstyled sub-submenu collapse show eq-animated eq-fadeInUp" id="components">
                                                <li>
                                                    <a href="{% url 'add-categories' %}">View Category List</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'add-subcategories' %}"> View Subcategory List</a>
                                                </li>

                                                
                                </div>
                            </div>
                        </li> 

                        <li class="menu">
                            <a href="#tables-forms" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">
                                <div class="">
                                    <i class="flaticon-table"></i>
                                    <span>Users</span>
                                </div>
                            </a>
                            <div class="submenu list-unstyled collapse eq-animated eq-fadeInUp" id="tables-forms" data-parent="#topAccordion">
                                <div class="submenu-scroll">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#tables" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"> <span class="">USER MANAGEMENT</span> </a>
                                            <ul class="list-unstyled sub-submenu collapse show eq-animated eq-fadeInUp" id="tables">
                                                <li>
                                                    <a href="{% url 'view-user'%}"> View Users </a>
                                                </li>
                                               
                                                 
                                            </ul>
                                        </li>
                                    </ul>
                                     
                                </div>
                            </div>
                        </li>

                        <li class="menu">
                            <a href="#pages" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">
                                <div class="">
                                    <i class="flaticon-copy"></i>
                                    <span>Orders</span>
                                </div>
                            </a>
                            <div class="submenu list-unstyled collapse eq-animated eq-fadeInUp" id="pages" data-parent="#topAccordion">
                                <div class="submenu-scroll">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#ecommerce" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"> <span class="">ECOMMERCE</span> </a>
                                            <ul class="list-unstyled sub-submenu collapse show eq-animated eq-fadeInUp" id="ecommerce">
                                                <li>
                                                    <a href="{% url 'orders' %}"> Orders </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'sales-report' %}">sales report</a>
                                                </li>
                                                
                                            </ul>
                                        </li>
                                    </ul>
                                    
                                    
                                </div>
                            </div>
                        </li>

                        <li class="menu">
                            <a href="#app" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">
                                <div class="">
                                    <i class="flaticon-mail-19"></i>
                                    <span>Brands assoiciated</span>
                                </div>
                            </a>
                            <div class="collapse submenu list-unstyled eq-animated eq-fadeInUp" id="app" data-parent="#topAccordion">
                                <ul class="submenu-scroll">
                                    <li>
                                        <ul class="list-unstyled mt-4">
                                            <li>
                                                <ul class="list-unstyled sub-submenu collapse show eq-animated eq-fadeInUp" id="apps"> 
                                                    <li>
                                                        <a href="{% url 'brands'%}">view all</a>
                                                    </li>
                                                    
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu">
                            <a href="#more" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <div class="">
                                    <i class="flaticon-plus"></i>
                                    <span class="">More</span>
                                </div>
                            </a>
                            <div class="collapse submenu list-unstyled eq-animated eq-fadeInUp" id="more" data-parent="#topAccordion">
                                <div class="submenu-scroll">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#modules" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"> <span class="">COUPONS</span></a>
                                            <ul class="list-unstyled sub-submenu collapse show eq-animated eq-fadeInUp" id="modules"> 
                                                <li>
                                                    <a href="{%url 'coupon-add' %}">view all coupons</a>
                                                </li>
                                                
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#dragndrop" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"> <span class="">Offers</span></a>
                                            <ul class="list-unstyled sub-submenu collapse show eq-animated eq-fadeInUp" id="dragndrop"> 
                                                <li>
                                                    <a href="{%url 'product_offer' %}"> Product offer</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'category-offer' %}"> category offer</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'banner-manage' %}">Banner management</a>
                                                </li>
                                                
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#dragndrop" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"> <span class="">Sales Report</span></a>
                                            <ul class="list-unstyled sub-submenu collapse show eq-animated eq-fadeInUp" id="dragndrop"> 
                                                <li>
                                                    <a href="{% url 'sales-report' %}">sales report</a>
                                                </li>
                                                
                                            </ul>
                                        </li>
                                    </ul>
                                    
                                    
                                </div>
                            </div>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
        <!--  END MODERN  -->
{% block content %}


{% endblock  %}
        <!--  BEGIN CONTENT PART  -->
        
        <!--  END CONTENT PART  -->
                
    </div>
    <!-- END MAIN CONTAINER -->

    <!--  BEGIN FOOTER  -->
    <footer class="footer-section theme-footer">

        <div class="footer-section-1  sidebar-theme">
            
        </div>

        <div class="footer-section-2 container-fluid">
            <div class="row">
                <div id="toggle-grid" class="col-xl-7 col-md-6 col-sm-6 col-12 text-sm-left text-center">
                    <ul class="list-inline links ml-sm-5">
                        <li class="list-inline-item">
                            <a target="_blank" href="https://themeforest.net/item/equation-responsive-admin-dashboard-template/23191987">Buy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-5 col-md-6 col-sm-6 col-12">
                    <ul class="list-inline mb-0 d-flex justify-content-sm-end justify-content-center mr-sm-3 ml-sm-0 mx-3">
                        <li class="list-inline-item  mr-3">
                            <p class="bottom-footer">&#xA9; 2019 <a target="_blank" href="https://designreset.com/equation">Equation Admin Theme</a></p>
                        </li>
                        <li class="list-inline-item align-self-center">
                            <div class="scrollTop"><i class="flaticon-up-arrow-fill-1"></i></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--  END FOOTER  -->

    <!--  BEGIN PROFILE SIDEBAR  -->
    <aside class="profile-sidebar text-center">
        <div class="profile-content profile-content-scroll">
            <div class="usr-profile">
                <img src="assets/img/90x90.jpg" alt="admin-profile" class="img-fluid">
            </div>
            <p class="user-name mt-4 mb-4">{{request.user.first_name}} {{request.user.last_name}}</p>
            <div class="">
                <div class="accordion" id="user-stats">
                    <div class="card">
                        <div class="card-header pb-4 mb-4" id="status">
                            <h6 class="mb-0" data-toggle="collapse" data-target="#user-status" aria-expanded="true" aria-controls="user-status"><i class="flaticon-view-3 mr-2"></i> Status <i class="flaticon-down-arrow ml-2"></i> </h6>
                        </div>
                        <div id="user-status" class="collapse show" aria-labelledby="status" data-parent="#user-stats">
                            <div class="card-body text-left">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-links text-left">
                <ul class="list-unstyled">
               
                    <li><a href="{%url 'log-out' %}"><i class="flaticon-power-off"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </aside>
    <!--  BEGIN PROFILE SIDEBAR  -->
    
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static 'assets/js/libs/jquery-3.1.1.min.js'%}"></script>
    <script src="{% static 'assets/js/loader.js'%}"></script>
    <script src="{% static 'plugins/scrollbar/jquery.mCustomScrollbar.concat.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/js/app.js'%}"></script>
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script src="{% static 'assets/js/custom.js'%}"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    {% block static-js %}
    
   
    {% endblock static-js  %}
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous"></script>
 
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="{% static 'plugins/charts/sparklines/jquery.sparkline.min.js'%}"></script>
    <script src="{% static 'plugins/charts/d3charts/d3.v3.min.js'%}"></script>
    <script src="{% static 'plugins/charts/c3charts/c3.min.js'%}"></script>
    <script src="{% static 'plugins/calendar/pignose/moment.latest.min.js'%}"></script>
    <script src="{% static 'plugins/calendar/pignose/pignose.calendar.js'%}"></script>
    <script src="{% static 'plugins/dropzone/dropzone.min.js'%}"></script>
    <script src="{% static 'plugins/progressbar/progressbar.min.js'%}"></script>
    <script src="{% static 'assets/js/accounting-dashboard/accounting-custom.js'%}"></script>    
    <!-- END PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
   
</body>
</html>